name: CI

# Controls when the workflow will run
on:
  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build_diag:
    runs-on: ubuntu-latest
    container: openjdk:8

    steps:
      - uses: actions/checkout@v2

      - name: Download plantuml
        run: wget -O ../plantuml.jar https://sourceforge.net/projects/plantuml/files/plantuml.jar/download
        
      - name: Install graphviz
        run: apt-get update -y && apt-get install -y graphviz

      - name: Get version of plantuml and run planutml on all diagrams
        run: rm -rf docs/diagrams/*.png
        
      - name: Get version of plantuml and run planutml on all diagrams
        run: java -jar ../plantuml.jar -version -progress "docs/diagrams"

      - name: Get version of plantuml and run planutml on all diagrams
        run: java -jar ../plantuml.jar -progress "docs/diagrams" -o "docs/diagrams"
        
      - name: Get version of plantuml and run planutml on all diagrams
        run: ls -al docs/diagrams/
