name: PlantUML

# Controls when the workflow will run
on:
  push:
    paths:
      - 'docs/diagrams/*.puml'
      - 'docs/diagrams/*.png'
      - '.github/workflows/main.yml'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build_diag:
    runs-on: ubuntu-latest
    container: openjdk:8

    steps:
      - uses: actions/checkout@v2

      - name: Download plantuml
        run: wget -O ../plantuml.jar https://sourceforge.net/projects/plantuml/files/plantuml.jar/download

      - name: Install graphviz
        run: apt-get update -y && apt-get install -y graphviz

      - name: Rm all png in docs/diagrams to regenerate them
        run: rm -rf docs/diagrams/*.png

      - name: Get version of plantuml
        run: java -jar ../plantuml.jar -version "docs/diagrams"

      - name: Run planutml on all diagrams
        run: java -jar ../plantuml.jar -progress "docs/diagrams" -o "."

      - name: Commit files
        run: |
          ls -al docs/diagrams/
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add docs/diagrams/*.png
          git commit --allow-empty -am "CI generated .png"

      - name: GitHub Push
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
