name: PyTest

# Controls when the workflow will run
on:
  pull_request:
    paths:
      - 'src/**'
      - 'res/**'
      - 'tests/**'
      - 'requirements.txt'
      - 'requirements-test.txt'
      - '.github/workflows/PyTest.yml'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        container: ["python:3.7", "python:3.8", "python:3.9", "python:latest"]

    container: 
      image: ${{ matrix.container }}

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.HEAD_REF }}

      - name: Install requirements
        run: pip3 install -r requirements-test.txt -r requirements.txt && pip3 install -e .

      - name: Get versions
        run: pip3 freeze

      - name: Run pytest
        run: pytest --cache-clear --cov=src/ tests/ > pytest-coverage.txt

      - name: Comment coverage
        uses: coroo/pytest-coverage-commentator@v1.0.2
