name: PyTest

# Controls when the workflow will run
on:
  pull_request:
    paths:
      - 'src/**'
      - 'res/**'
      - 'tests/**'
      - 'requirements.txt'
      - 'requirements-test.txt'
      - '.github/workflows/PyTest.yml'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  pytest:
    runs-on: ubuntu-latest
    container: python:3.9

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.HEAD_REF }}

      - name: Install requirements
        run: pip3 install -r requirements-test.txt -r requirements.txt

      - name: Get versions
        run: pip3 freeze

      - name: Run pytest
        run: pytest --cov=src/ tests/
